<%= form_tag(comics_path, method: "post", ) do %>
  <% comics.each do |comic| %>
    <div>  
      <%= check_box_tag("comicid_#{comic["id"]}", "#{comic["id"]}---#{comic["name"]}")  %>
      <%= comic["name"] %>
    </div>
  <% end %>
  <%= submit_tag("Add to Pull List") %>
<% end %>
