<div class="section">
  <div class="my-sub-title">
    <% if current_user.this_weeks_comics.blank? %>
      <h1>No Titles Coming Out This Week</h1>
    <% else %>
      <h1>Your Titles Coming Out This Week</h1>
    <% end %>
  </div>

  <% current_user.this_weeks_comics.each do |issue| %>
    <div class="slide">
      <div class="subscription-comic">
        <div class="comic-index-image">
          <img src=<%= issue.image_url %> />
        </div>
        <div class="comic-issue-name">
          <%= "#{issue.comic.name}: #{issue.name}" %>
        </div>
        <div class="comic-description" >
          <%= strip_tags(issue.description) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

