<div class="weekly-subscriptions">
  <%= render partial: 'user_subscription' if signed_in? %>
</div>

<div class="weekly-comics">
  <h1>Comics for the Week of <%= Comic.comic_date(Date.today) %></h1>

  <div class='weekly-comics-table'>
    <table class='table'>
      <% @this_week_comics.each do |key, value| %>
        <tbody class="publishers">
          <tr>
            <th><%= key %></th>
          </tr>
        </tbody>
          <% value.each do |title, url| %>
            <tbody class="table-comics">
              <tr>
                <td><%= link_to title, url %></td>
              </tr>
            </tbody>
          <% end %>     
      <% end %>
    </table>
  </div>
</div>
