<div class="full-subscription">
  <div class="my-sub-title">
    <h1>My Pull List</h1>
  </div>

  <% @comics.each do |comic| %>
    <div class="comic-name">
      <%=link_to comic.name, controller: "comics", action: "pull_list_show", id: comic %>
    </div>
  <% end %>
</div>
