<div id='fullpage'>
  <h2><%= @comic_info.first["title"] %></h2>
  <% @comic_list.each do |comic_list| %>
    <div class='section'>
      <div class="pull-subscription-comic">
        <div id='pull-comic-vol-name'>
          <%= comic_list['title'] %>
        </div>
        <div class="comic-show-description">
          <%= strip_tags(comic_list['description']) %>
        </div>
        <div class="comic-image">
          <img src=<%= "#{comic_list['images'].first['path']}.#{comic_list['images'].first['extension']}" %> />
        </div>
      </div>
    </div>
  <% end %>


<!--   <#% @comic_info.each_slice(2).with_index do |slice, index| %>
    <div class='section'>
      <#% if index == 0 %>
        <div id='pull-comic-vol-name'>
          <h1><#%= @comic.name %></h1>
        </div>
      <#% else %>
        <div class="section-helper">
        </div>
      <#% end %>

      <#% slice.each do |info| %>
        <div class="pull-subscription-comic">
          <div class="comic-image">
            <img src="<#%= info["image"]["thumb_url"] %>" />
          </div>
          <div class="comic-issue-number">
            <#%= "##{info["issue_number"]}" %>
          </div>
          <div class="comic-issue-name">
            <#%= info["name"] %>
          </div>
          <div class="comic-description">
            <#%= strip_tags(info["description"]) %>
          </div>
        </div>
      <#% end %>  
    </div>  
  <#% end %> -->
</div>
